concurrent = 10
check_interval = 5

[session_server]
  session_timeout = 600

[[runners]]
  name = "gitlab-runner"
  url = "http://{{ gitlab_hostname }}/"
  token = "3VwPzXc9DntRrtqAdjAF"
  executor = "docker"
  [runners.docker]
    tls_verify = false
    image = "ruby:2.7"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
